
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    @ViewBag.Greetings World (from the View)
    <p>
        We're going to have an exciting party <br />
    </p>
    <a asp-action="InviteForm">Navigate to InviteForm</a>
</body>
</html>
